// font sizes
$font-lg: 2.4rem;
$font-md: 1.6rem;
$font-sm: 1.4rem;

// colors
$blue: #007bff;
$dark-blue: #0056b3;
$white: #ffff;
$dark-gray: #666;
$gray: #9b9b9b;
$light-gray: #e0e0e0;
$lightest-gray: #f9f9f9;
$black: black;
$green: #2ecc71;
$lightest-blue: #f0f0f0;
$yellow: #f39c12;

// breakpoints
$mobile: 600px;
