.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 16px 16px;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0;
  border-bottom: 2px solid $gray;
}

.tab {
  font-size: $font-md;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: capitalize;
  color: $dark-gray;
  border-radius: 8px;
  text-align: center;

  &:hover {
    background-color: $lightest-blue;
  }

  &.active {
    background-color: $blue;
    color: $white;
    border-radius: 8px 8px 0 0;
    border: 2px solid $blue;
  }
}
